*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#prant{
    max-width: 40%;
    max-height: 40%;
}

#line-1{
    display: flex;
}

#line-2{
    display: flex;
}

.colorbutton{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.yellow{
    background-color: #f99b45;
}

.purple{
    background-color: #819ff9;
}

.flashc{
    background-color: white;
}
